%base-text
    font-family: 'Roboto'
    color: #333
    line-height: 1.5

%base-link
    color: inherit
    text-decoration: none
    border-bottom: 1px solid
    &:hover
        opacity: 0.6
        transition: 0.3s

%base-link_dashed
    @extend %base-link
    border-bottom: 1px dashed

%base-title
    font-family: 'Kurale'
    font-size: 2em

%base-container
    max-width: 980px
    margin: 0 auto


.pt-50
    padding-top: 50px

.pt-25
    padding-top: 25px

.hidden
    display: none

.no-visible
    visibility: hidden

small
    font-size: 80% !important