.content
    color: #333
img
    width: 100%
    max-width: 600px

img[style*="float:left"], img[style*="float: left"], img[style*=" float: left"], img[style*=" float : left"], img[style*=" float :left"]
    margin-right: 20px

img[style*="float:right"], img[style*="float: right"], img[style*=" float: right"], img[style*=" float : right"], img[style*=" float :right"]
    margin-left: 20px

ol
    
ul
    list-style: none
    margin-left: -35px
    

    li
        padding-bottom: .3rem

span
    display: inline-block

a
    color: inherit
    &:hover
        text-decoration: none
    

h1, h2, h3, h4, h5, h6
    font-weight: 300
    margin-top: 0.83em
    margin-bottom: 0.83em
h1
    font-size: 1.8rem
h2
    font-size: 1.4rem
h3, h4, h5, h6
    font-size: 1rem

p, span, b, strong
    @extend %base-text

.title
    display: block
    font-weight: 300
    font-size: 1.4rem
    margin-top: 0.83em
    margin-bottom: 0.83em

    &_link

        text-decoration: none
        color: inherit
        // display: inline-block
        // background-size: 1px 1em
        // box-shadow: inset 0 -0.175em white, inset 0 -0.2em black
        &:hover
            color: gray



    &_small
        font-size: 1.2rem


.bg-image
    width: 100%
    margin: 20px auto
    display: block
    height: 220px
    background-size: cover
    background-repeat: no-repeat
    background-position: center

    &_full-height
        height: 100%
        min-height: 220px
.date
    display: block
    margin-top: 20px 
    color: gray
    font-size: 90%

.read-more
    display: inline-block
    width: 100%
    text-align: right
    &_left
        text-align: left
    &__link
        display: inline-block
        &:after
            content: $icon-right-chevron
            position: relative
            display: inline-block
            font-family: icomoon !important
            text-decoration: none !important
            font-size: 0.6rem
            right: -0.3rem




+media($screen-small)

    .content

        .bg-image
            height: 400px


        img, .bg-image
            display: block
            margin-bottom: 20px
            width: calc(100% + 20px)
            max-width: calc(100% + 20px)
            margin-left: -10px

        