.content-block
    display: flex
    display: -ms-flex
    display: -webkit-flex
    flex-wrap: wrap
    max-width: 980px
    margin: auto
    &_valign-middle
        align-content: center
        align-items: center
    &__col-20
        width: calc(20% - 20px)
        margin-right: 20px
        display: inline-block

        &_center
            text-align: center

    &__col-25
        width: calc(25% - 20px)
        margin-right: 20px
        display: inline-block
        &_center
            text-align: center

    &__col-50
        width: calc(50% - 20px)
        margin-right: 20px
        display: inline-block
        &_center
            text-align: center

    &__col-60
        width: calc(60% - 20px)
        margin-right: 20px
        display: inline-block
        &_center
            text-align: center

    &__col-80
        width: calc(80% - 20px)
        margin-right: 20px
        display: inline-block
        &_center
            text-align: center

    &__col-100
        width: calc(100% - 20px)
        padding-right: 20px
        display: inline-block

        &_center
            text-align: center

    &__title
        font-weight: 300
        padding-top: 1rem
        font-size: 1.8rem
        &_small
          font-size: 1.4rem  

    &__image
        width: calc(100% - 20px)
        &_left
            float: left
            max-width: 480px

            margin-right: 20px

        &_right
            float: right
            max-width: 480px

            margin-left: 20px


    &__text
        @extend %base-text
        &_cursive
            font-style: italic


    &__link
        @extend %base-link
        display: inline-block
        &_right
            float: right
            margin-right: 10px
        &_center
            text-align: center
            display: inline-block

+media($screen-small)
    .content-block
        display: block

        &__col-20, &__col-25, &__col-50, &__col-60, &__col-80, &__col-100
            width: calc(100% - 20px)
            padding-right: 10px
            padding-left:  10px
            margin: 0
 
                

        &__title

        &__image
            width: 100%
            &_left, &_right
                float: none
                display: block
                max-width: 100%

        &__text


        &__link

            &_right

            &_center

+media($screen-ex-small)
    .content-block
        display: block
        &__link
            margin-top: 1rem



// Каскад для контента CMS
.content-block
    h1, h2, h3, h4, h5, h6
        font-weight: 300
        padding-top: 1rem
    h1
        font-size: 1.8rem
    h2
        font-size: 1.4rem
    h3, h4, h5, h6
       font-size: 1rem

    p
        @extend %base-text

    img
        max-width: 480px
    
    img[style*="float:left"], img[style*="float: left"], img[style*=" float: left"], img[style*=" float : left"], img[style*=" float :left"]
        margin-right: 20px

    img[style*="float:right"], img[style*="float: right"], img[style*=" float: right"], img[style*=" float : right"], img[style*=" float :right"]
        margin-left: 20px
    

+media($screen-small)
    .content-block
        img
            display: block
            margin: auto
            width: 100%
            max-width: 100% 
        