.content-block
    display: flex
    display: -ms-flex
    display: -webkit-flex
    flex-wrap: wrap
    box-sizing: border-box
    &__col
        width: auto
        &_fluid
            width: 100%



  

    
+media($screen-small)
    .content-block
        &__col
            width: 100%
 