.email
    display: inline-block
    width: 100%
    color: inherit
    &__icon
        +icomoon
        @extend .icon-mail
        padding-right: 10px
    &__link
        @extend %base-link_dashed

+media($screen-small)
    .email
        font-size: 1em
        text-align: center
        padding-top: 1em