.header
    @extend %base-container
    position: relative
    padding-top: 20px
    z-index: 9
    display: flex
    display: -webkit-flex
    display: -ms-flex
    height: $header-height
    font-weight: 100
    padding-bottom: 40px
    margin-bottom: 40px
    
    &__center
        width: $logo-width


    &__left, &__right
        border-bottom: 1px solid
        width: calc(50% - #{$logo-width / 2})
        height: $header-height - 3.5px
        display: flex
        display: -ms-flex
        display: -webkit-flex
        flex-wrap: wrap
        align-content: center
    &__item
        padding-top: 15px

       
    &__left
        text-align: left

    &__right
        text-align: right



    &__nav-button
        position: absolute
        z-index: 11
        width: 90px
        width: 45%
        max-width: (980px/2) - (209px/2)
        height: 25px

    &_sub-page
        .header__left,  .header__right
            border-bottom: none



    &_main-page
        color: white
        opacity: 0.8

        .logo
            background-image: url(../img/logo_white.png)

        .search__input
            &::-webkit-input-placeholder
                color: white
            &::-moz-placeholder
                color: white
            &:-moz-placeholder
                color: white
            &:-ms-input-placeholder
                color: white

        
+media($screen-medium)
    .header
        max-width: 100%


+media($screen-small)
    .header
        display: block
        min-height: 320px
        padding-bottom: 20px
        margin-bottom: 20px
        &__item
            padding-top: 0

        &__title
            border: none


        &__right, &__left
            display: block
            border-bottom: none
            height: auto
            width: calc(100% - 10px)

        &__center
            margin: 0 auto
        .work-time
            display: none
        &_main-page
            padding-bottom: 0
            margin-bottom: 0
        &_sub-page
            min-height: 225px
            .address, .email
                display: none
