.page-header
    display: inline-block
    width: 100%
    text-align: center
    &_left
        text-align: left
    &_right
        text-align: right
    &__title
        display: inline-block
        font-family: 'Kurale'
        font-size: 2rem
        border-bottom: 2px solid
        padding-bottom: 5px
