.page-header
    display: block
    width: 100%
    max-width: 980px
    margin: auto
    text-align: center
    padding-bottom: 2rem

    &_left
        text-align: left
    &_right
        text-align: right
    &__title
        display: inline-block
        font-family: 'Kurale'
        font-size: 2rem
        margin: auto

        &:after
            content: ''
            display: block
            width: 100%
            max-width: 320px
            margin: 1rem auto
            height: 1px
            background: #ccc
        &:before
            content: ''
            display: block
            width: 100%
            max-width: 320px
            margin: 0.5rem auto
            height: 1px
            background: #ccc

+media($screen-small)
    .page-header
        width: 100%
        max-width: 100%
        padding-bottom: 0
        padding-top: 0
        &__title

            width: 100%
            // padding-bottom: 0.8rem
            // padding-top: 0.8rem
            font-size: 1.5rem
            margin-top: 0 
            &:after, &:before

         



