.phone
    display: inline-block
    width: 100%
    font-size: 1.1em
    color: inherit
    text-decoration: none
    a
        text-decoration: none
        color: inherit
        &[href^="tel"]
            color: inherit !important
            text-decoration: none !important 
            &[x-apple-data-detectors]
                color: inherit !important
                text-decoration: none !important
                font-size: inherit !important
                font-family: inherit !important
                font-weight: inherit !important
                line-height: inherit !important
        

    &.pt-50
        padding-top: 50px

    &__icon
        +icomoon
        @extend .icon-phone-call
        position: relative
        top: 3.5px
        padding-right: 10px
        font-size: 1.2em