.price-table
    width: 100%
    &__row
        display: flex
        display: -ms-flex
        display: -webkit-flex
        flex-wrap: wrap
        box-sizing: border-box

    &__col
        // margin-right: 20px
        min-width: 160px





+media($screen-small)
    .price-table

        font-size: 80%
