.search
    position: relative
    left: 30px
    bottom: 4.5px
    display: inline-block
    
    &__input
        position: relative
        z-index: 1
        border: none
        border-bottom: 1px solid
        outline: none
        background: transparent
        padding-bottom: 2.5px
        max-width: 125px
    &__icon
        +icomoon
        @extend .icon-search2
        position: absolute
        left: -35px
        top: 4px
        font-size: 1.3em

    &__submit
        background: transparent
        border: 1px solid
        border-radius: 2px
        opacity: 0
        transition: 0.3s
        &.is-active
            opacity: 1
            transition: 0.3s

        

+media($screen-small)
    .search
        display: none
    
