.section
    &_head-main
        position: relative
        height: calc(100vh - #{$header-height + 100px})
        // border: 6px solid


    &_content
        background-color: white
        padding-top: 2rem
        &:first-of-type
            padding-top: 0
        // padding-bottom: 2rem
  

+media($screen-small)
    .section
        &_head-main
            height: auto
            padding-bottom: 2rem
