.section
    padding-bottom: 40px    
    &_head-main
        position: relative
        height: calc(100vh - #{$header-height + 60px})

    &_content
        background-color: white
        

+media($screen-small)
    .section
        padding-bottom: 0
        &_head-main
            height: auto
            padding-bottom: 2rem
