.section
    &_head-main
        position: relative
        height: calc(100vh - #{$header-height + 100px})
        // border: 6px solid


    &_content
        background-color: white
        padding-top: 40px
        &:first-of-type
            padding-top: 0
        &:last-of-type
            padding-bottom: 40px
  

+media($screen-small)
    .section
        &_head-main
            height: auto
            padding-bottom: 2rem
