.services-list
    @extend %base-container

    &__item
        min-height: 320px
        &:nth-child(2n+1)
            .services-list__image
                float: left
                margin-right: 20px
        &:nth-child(2n+2)
            .services-list__image
                float: right
                margin-left: 20px
        

    &__image
        width: 100%
        height: 320px
        max-width: 420px
        background-size: 100%
        background-repeat: no-repeat


    &__title
        display: block
        margin-bottom: .5rem
        font-size: 1.4rem
        font-weight: 300
        padding-top: 1rem
        text-decoration: none
        color: inherit
        &:hover
            text-decoration: underline


    &__description
        padding-top: .5rem

    &__price
        font-size: 1.4rem
        &:before
            font-family: "icomoon" !important
            content: "\e90d"
            font-size: 1.5em
            padding-right: 10px
            position: relative
            top: .5rem

    &__readmore
        @extend %base-link

    &__abonements
        display: block
        margin-top: 1.5rem
        &-title
            position: relative
            left: 1rem
            font-weight: bold
        &-price
            display: inline-block
            position: relative
            left: 1rem
            &:after
                content: " . "
                vertical-align: super
                font-weight: 500
                color: #ccc
                font-size: 2rem
            &:last-child
                &:after
                    content: ""
        &-icon
            font-family: icomoon !important
            @extend .icon-ticket
            font-size: 2rem
            position: relative
            top: .25rem
        &:before
            content: ""
            display: block
            width: 120px
            margin: 5px auto
            transform: translateX(50%)
            height: 1px
            background-color: #ccc