.slider-team
    @extend .swiper-container
    position: relative
    max-width: 980px
    margin: auto

    &__wrapper
        @extend .swiper-wrapper
        position: relative !important
        z-index: 0 !important

    &__slide
        @extend .swiper-slide


    &__content
        max-width: 840px
        margin: auto

    &__arrow-left
        position: absolute
        top: 50%
        transform: translate(0, -50%)
        left: 0
        z-index: 3
        color: #333
        cursor: pointer
        font-size: 1.5rem
        &:before
            +icomoon
            content: "\e907"
        &.swiper-button-disabled
            opacity: 0.5
    
    &__arrow-right
        position: absolute
        top: 50%
        transform: translate(0, -50%)
        right: 0
        z-index: 3
        color: #333
        padding-top: 2em
        padding-left: 2em
        padding-bottom: 2em
        cursor: pointer
        font-size: 1.5rem

        &:before
            +icomoon
            content: "\e90c"

        &.swiper-button-disabled
            opacity: 0.5


    &__avatar-circle
        width: 109px
        height: 109px
        border-radius: 109px
        border: 2px solid
        float: left
        margin-top: 1em
        margin-left: 2em
        margin-right: 1em

    &__avatar-image
        width: 105px
        height: 105px
        border-radius: 104px
        border: 2px solid white
        background-size: cover
        background-repeat: no-repeat

    &__heading
        font-weight: 300
        font-size: 1.5rem
    &__text
        @extend %base-text

    &__icon-trophy
        +icomoon
        @extend .icon-trophy
        display: block
        font-size: 42px
        float: left
        margin-right: 10px 
        // padding-right: 10px

    &__icon-medal
        +icomoon
        @extend .icon-medal
        display: block
        font-size: 42px
        float: left
        margin-right: 10px 

    &__text-count
        @extend %base-text
        display: inline-block
        line-height: 1
        font-size: 0.9em
        width: 70px

    &__count
        font-size: 2rem
        display: block
        



 