.slider-services
    position: relative
    top: calc(50% - #{$header-height}/2)
    transform: translateY(-50%)
    @extend .swiper-container
    max-width: 980px
    margin: 0 auto
    color: white
    opacity: 0.9

    &__wrapper
        @extend .swiper-wrapper
        // position: relative

    &__slide
        @extend .swiper-slide
        width: 100% !important
        position: relative
        z-index: 2

    &__arrow-left
        position: absolute
        left: 0
        top: 0
        z-index: 3
        height: 100%
        width: 1.5rem
        cursor: pointer
        font-size: 1.5rem
        text-align: center

        
    &__arrow-icon-left
        position: relative
        top: 50%
        transform: translate(0, -50%)
        display: inline-block
        &:before
            +icomoon
            content: "\e907"
        &.swiper-button-disabled
            opacity: 0.5
    
    &__arrow-right
        position: absolute
        right: 0
        top: 0
        z-index: 3
        height: 100%
        width: 2rem
        cursor: pointer
        font-size: 1.5rem
        text-align: center

    &__arrow-icon-right
        position: relative
        top: 50%
        transform: translate(0, -50%)
        display: inline-block
        &:before
            +icomoon
            content: "\e90c"


    &__heading
        font-family: 'Kurale'
        text-align: center
        font-size: 2em
        line-height: 1

        &:after
            content: ""
            display: block
            width: 180px
            height: 1px
            margin: 0.5em auto
            background-color: white

    &__description
        width: 100%
        text-align: center
        

    &__price
        display: inline-block
        margin-right: 180px
        &:before
            font-family: "icomoon" !important
            content: "\e90d"
            font-size: 1.5em
            padding-right: 10px

    &__read-more
        display: inline-block
        color: inherit
        text-decoration: none
        border-bottom: 1px solid
        &:after
            +icomoon
            content: "\e90c"
            font-size: 10px


+media($screen-small)
    .slider-services
        top: 0
        transform: none
        &__price
            display: block
            margin: 0 auto
            padding-bottom: 3rem
        &__heading






