.work-time
    display: inline-block
    width: 100%
    padding-top: 20px
    
    &__icon
        +icomoon
        @extend .icon-clock
        position: relative
        top: 1.5px
        padding-right: 10px