@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?y16qu0');
  src:  url('#{$icomoon-font-path}/icomoon.eot?y16qu0#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?y16qu0') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?y16qu0') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?y16qu0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-circle {
  &:before {
    content: $icon-alert-circle;
  }
}
.icon-align-center {
  &:before {
    content: $icon-align-center;
  }
}
.icon-align-justify {
  &:before {
    content: $icon-align-justify;
  }
}
.icon-align-left {
  &:before {
    content: $icon-align-left;
  }
}
.icon-align-right {
  &:before {
    content: $icon-align-right;
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle;
  }
}
.icon-check-square {
  &:before {
    content: $icon-check-square;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-more-horizontal {
  &:before {
    content: $icon-more-horizontal;
  }
}
.icon-x-circle {
  &:before {
    content: $icon-x-circle;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-phone-call {
  &:before {
    content: $icon-phone-call;
  }
}
.icon-down-chevron {
  &:before {
    content: $icon-down-chevron;
  }
}
.icon-left-chevron {
  &:before {
    content: $icon-left-chevron;
  }
}
.icon-location-pin {
  &:before {
    content: $icon-location-pin;
  }
}
.icon-medal {
  &:before {
    content: $icon-medal;
  }
}
.icon-right-chevron {
  &:before {
    content: $icon-right-chevron;
  }
}
.icon-ruble {
  &:before {
    content: $icon-ruble;
  }
}
.icon-trophy {
  &:before {
    content: $icon-trophy;
  }
}
.icon-up-chevron {
  &:before {
    content: $icon-up-chevron;
  }
}
.icon-search-minus {
  &:before {
    content: $icon-search-minus;
  }
}
.icon-search-plus {
  &:before {
    content: $icon-search-plus;
  }
}
.icon-search2 {
  &:before {
    content: $icon-search2;
  }
}
.icon-profile-male {
  &:before {
    content: $icon-profile-male;
  }
}
.icon-vk-with-circle {
  &:before {
    content: $icon-vk-with-circle;
  }
}
.icon-facebook-with-circle {
  &:before {
    content: $icon-facebook-with-circle;
  }
}
.icon-instagram-with-circle {
  &:before {
    content: $icon-instagram-with-circle;
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.icon-youtube2 {
  &:before {
    content: $icon-youtube2;
  }
}
.icon-skype {
  &:before {
    content: $icon-skype;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket;
  }
}
.icon-ticket2 {
  &:before {
    content: $icon-ticket2;
  }
}

