$icomoon-font-path: "../fonts/icomoon/fonts/" !default;

$icon-alert-circle: "\e909";
$icon-align-center: "\e90e";
$icon-align-justify: "\e911";
$icon-align-left: "\e912";
$icon-align-right: "\e913";
$icon-check-circle: "\e914";
$icon-check-square: "\e915";
$icon-check: "\e916";
$icon-download: "\e917";
$icon-info: "\e918";
$icon-more-horizontal: "\e919";
$icon-x-circle: "\e91a";
$icon-mail: "\e91b";
$icon-phone-call: "\e90b";
$icon-down-chevron: "\e906";
$icon-left-chevron: "\e907";
$icon-location-pin: "\e908";
$icon-medal: "\e90a";
$icon-right-chevron: "\e90c";
$icon-ruble: "\e90d";
$icon-trophy: "\e90f";
$icon-up-chevron: "\e910";
$icon-search-minus: "\e900";
$icon-search-plus: "\e901";
$icon-search2: "\e902";
$icon-profile-male: "\e040";
$icon-vk-with-circle: "\e903";
$icon-facebook-with-circle: "\e904";
$icon-instagram-with-circle: "\e905";
$icon-refresh: "\ea2e";
$icon-youtube2: "\ea9e";
$icon-skype: "\eac5";
$icon-clock: "\e94e";
$icon-ticket2: "\e91c";
$icon-ticket: "\e91d";
