html, body
    height: 100%
    font-family: 'Roboto'



    
// Stick footer

.lo-wrapper
    position: relative
    width: 100%
    min-height: 100%
    height: auto !important
    height: 100%

.lo-container
    @extend %base-container

.lo-main
    padding: 0 0 $footer-height



// .section
//     display: none
//     &_head-main
//         display: block

.footer
    margin: -$footer-height auto 0

+media($screen-small)
    html, body
        font-size: 1.1rem
    h1
        font-size: 2.1rem



    .lo-main
        padding: 0 0 280px

    
